
.line
{
        animation: line-move 5s;
        -webkit-animation: line-move 5s;
        -moz-animation: line-move 5s;
}

@keyframes line-move {
      from {
          transform: translateX(500px);
          opacity: 0;
          }
      to {
          transform: translateX(0);
          opacity: 1;
        }
}
@-webkit-keyframes line-move {
    from {
        transform: translateX(500px);
        opacity: 0;
        }
    to {
        transform: translateX(0);
        opacity: 1;
      }
}
@-moz-keyframes line-move {
    from {
        transform: translateX(500px);
        opacity: 0;
        }
    to {
        transform: translateX(0);
        opacity: 1;
      }
}
